<main role="main" class="container">

    <div class="row mt-5 pt-4">
        <div class="col-12">
            <h3><%= @post.title %></h3>
            <p><%= @post.body %></p>
            <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary' %>
            <%= link_to "Delete", post_path(@post),
                method: :delete,
                data: {confirm: 'Are you sure?'},
                :class => 'btn btn-danger'
            %>
        </div>
        <div class="col-12 mt-2">
            <h4>Comments</h4>
            <% @post.comments.each do |comment| %>
                <div class="card p-3 mb-2">
                    <p><b><%= comment.username %></b>: <%= comment.body %></p>
                </div>
            <% end %>
        </div>
        <div class="col-12 mt-2">
            <h4>Add Comment</h4>
            <%= form_for( [@post , @post.comments.build] ) do |f| %>
            
                <p>
                    <%= f.label :username %><br>
                    <%= f.text_field(:username, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.label :body %><br>
                    <%= f.text_area(:body, {:class => 'form-control'}) %>
                </p>

                <p>
                    <%= f.submit({:class => "btn btn-success"}) %>
                </p>

            <% end %>
        </div>
    </div>

</main>